@font-face{font-family:monument extended;font-style:normal;font-weight:400;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}
@font-face{font-family:monument extended;font-style:normal;font-weight:800;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff) format('woff')}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 241);
    overflow-x: hidden;
}

body #main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h1{
    font-family: monument extended;
    font-size: 45px;
    letter-spacing: -1;
    position: relative;
    width: 20%;
}

#nav h1::after{
    content: '©';
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    padding-left: 3px;
}

#nav h1::before{
    content: 'model management';
    font-family: 'gilroy';
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    top: 40px;
    width: 160px;
    left: 30%;
    letter-spacing: 1px;
    color: rgb(74, 72, 72);
}

#nav h2{
    height: 10vh;
    width: 22%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
}

#nav h2:nth-last-child(2){
    width: 26%;
}

#nav h2:nth-last-child(1){
    width: 10%;
    border-right: none;
}

#nav h2:nth-last-child(3){
    width: 15%;
}

#main #center{
    width: 100%;
    height: 600px;
    position: relative;
    padding: 3vw;
    overflow-x: hidden;
}

#center #content{
    width: 100%;
    height: 93%;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
}

#center #top{
    width: 85%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 160px;
    border-bottom: 2px solid white;
    left: 110px;
    padding-bottom: 30px;
}

#top-left{
    position: absolute;
    margin-right: 900px;
}

#top-left h4{
    font-family: monument extended;
    font-size: 40px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

#top-right{
    height: 60px;
    width: 60px;
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    border-bottom: 5px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 1200px;
    padding: 20px;
}

#top-right h4{
    font-family: 'gilroy';
    font-weight: 300;
    font-size: 15px;
    color: white;
}

#center #explore{
    width: 100%;
    height: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    color: white;
    margin-top: 20px;
}

#explore #text{
    width: 20%;
    position: absolute;
    left: 80px;
}

#text h4{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
}

#explore #arrow{
    width: 10px;
    position: absolute;
    right: 100px;
    font-size: 20px;
}

#main #scroll {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#scroll #images {
    display: flex;
    width: max-content;
    height: 100%;
    white-space: nowrap;
    animation: myanimation 8s linear infinite;
}

#images .part {
    display: flex;
    align-items: center;
    padding-right: 1vw;
}

.part img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

@keyframes myanimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

#images::-webkit-scrollbar{
    display: none;
}

#alphabets{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 50px;
}

#alphabets h2{
    font-style: italic;
    border-bottom: 2px solid black;
    font-weight: 500;
    margin-right: 20px;
}

#alphabets h3{
    font-style: italic;
    font-size: 15px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

#alphabets h3:hover{
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

#page1{
    height: 600px;
    width: 100%;
    padding: 3vw;
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
    position: relative;
}

#page1-left{
    width: 60%;
    height: 100%;
}

#page1-right{
    width: 40%;
    height: 100%;
}

#page1-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1-right #right-image{
    height: 70%;
    width: 100%;
}

#right-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1-right #para{
    height: 30%;
    width: 100%;
}

#para{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

#para #para1{
    width: 50%;
    font-weight:700 ;
    font-size: 20px;
}

#para #para2{
    width: 50%;
    font-weight: 400 ;
    font-size: medium;
}

#tag{
    padding-left: 3vw;
    padding-top: 1vw;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#tag h1{
    font-family: monument extended;
    font-size: 30px;
    color: black;
}

#page2{
    width: 100%;
    height: 700px;
    padding: 3vw;
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
    position: relative;
}

#page2-left{
    width: 50%;
    height: 100%;
    display: block;
    padding-left: 100px;
}

#page2-left #image{
    width: 100%;
    height: 70%;
}

#page2-left #image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    left: 16vw;
    top: 10vw;
}

#page2-left #arrow{
    width: 30px;
    height: 30px;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: black;
    bottom: 420px;
    left: 345px;
}

#page2-left #arrow h2{
    font-size: 50px;
}

#page2-left #text{
    width: 30%;
    height: 30%;
    position: absolute;
    left: 9vw;
    font-weight: 300;
    padding-top: 100px;
    font-family: 'gilroy';
}

#page2-right{
    width: 50%;
    height: 100%;
    display: flex;
}

#page2-right #right-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3{
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    padding: 20px 0px 20px 20px;
}

#page3 #text{
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 90px;
    position: absolute;
    top: 90px;
    border: 2px solid black;
    border-radius: 50%;
}

#page3 #text h2{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 400;
}

#page3 #image{
    padding: 40px;
    width: 100%;
    height: 100%;
}

#page3 #image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main #update{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
}

#update h1{
    font-family: monument extended;
    font-size: 40px;
    font-weight: bold;
}

.headlines{
    width: 95%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 20px;
    position: relative;
    left: 45px;
}

.headlines #category{
    width: 20%;
    margin-top: -50px;
    position: absolute;
}

.headlines #image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 150px;
}

.headlines #text{
    width: 30%;
    position: absolute;
    padding-left: 90px;
    margin-left: 220px;
}

#head1{
    border-top: 2px solid black;
}

#head3{
    margin-right: 50px;
}

#head4{
    margin-bottom: 100px;
}

.headlines #image img {
    width: 110px;
    height: 95px;
    object-fit: cover;
    border-radius: 80%;
}

.headlines #brand {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 1px;
}

.headlines #brand h1, .headlines #text h2 {
    font-family: 'gilroy';
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

#head1 #brand::after{
    content: "25TH MARCH 2020";
    position: absolute;
    top: 50px;
    font-weight: 500;
}

#head2 #brand::after{
    content: "3RD FEBRUARY 2020";
    position: absolute;
    top: 50px;
    font-weight: 500;
}

#head3 #brand::after{
    content: "14TH JANUARY 2020";
    position: absolute;
    top: 50px;
    font-weight: 500;
}

#head4 #brand::after{
    content: "8TH JANUARY 2020";
    position: absolute;
    top: 50px;
    font-weight: 500;
}

#head3 #text::after{
    content: "2020 REDESIGN";
    position: absolute;
    top: 50px;
    font-weight: 500;
}

#page4{
    width: 95%;
    height: 710px;
    padding-left: 70px;
    display: flex;
    gap: 60px;
    position: relative;
    margin-bottom: 70px;
}

#page4 #left-image{
    width: 40%;
    height: 100%;
    position: relative;
}

#page4 #left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page4 #right-content{
    width: 60%;
    height: 100%;
    display: block;
}

#page4 #right-content #bigtext{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: 20px;
}

#bigtext h1{
    font-family: monument extended;
    font-size: 50px;
    font-weight: 600;
}

#page4 #right-content #linetext{
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 30px;
}

#linetext h2{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
}

#page4 #right-content #littletext{
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 50px;
}

#littletext h3{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 400;
}

#page4 #right-content #image{
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

#right-content #image #img1{
    width: 80%;
    height: 100%;
    display: flex;
}

#img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right-content #image #img2{
    width: 60%;
    height: 100%;
    display: flex;
}

#img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page5{
    width: 95%;
    height: 600px;
    display: flex;
    padding-left: 70px;
    margin-bottom: 60px;
    position: relative;
}

#page5 #image{
    width: 100%;
    height: 100%;
}

#page5 #image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page5 #image::after{
    content: "R";
    width: 40px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    color: black;
    right: 20px;
    top: 20px;
}

#page6{
    width: 95%;
    height: 800px;
    padding-left: 70px;
    display: flex;
    gap: 100px;
    position: relative;
    margin-bottom: 100px;
}

#page6 #left{
    width: 60%;
    height: 100%;
}

#page6 #left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page6 #right{
    width: 40%;
    height: 100%;
}

#page6 #right #image{
    width: 100%;
    height: 62%;
    margin-bottom: 20px;
}

#page6 #right #image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page6 #right #text{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 45px;
}

#page6 #right #text #left-text, #right-text{
    width: 40%;
    height: 100%;
}

#page6 #right #text #left-text h2{
    font-family: 'gilroy';
    font-size: 30px;
    font-weight: 500;
}

#page6 #right #text #right-text{
    width: 52%;
}

#page6 #right #text #right-text h2{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 400;
}

#models{
    width: 100%;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 100px;
}

#models h1{
    font-family: monument extended; 
    font-weight: bold; 
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    color: transparent;
    letter-spacing: 3px;
    white-space: nowrap;
    animation: modelanime 5s linear infinite;
}

@keyframes modelanime {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page7{
    width: 95%;
    height: 500px;
    display: flex;
    gap: 20px;
    position: relative;
    padding-left: 70px;
    margin-bottom: 90px;
}

#page7 #blog{
    width: 25%;
    height: 100%;
    display: flex;
}

#page7 #blog h1{
    font-family: monument extended;
    font-size: 40px;
    font-weight: 600;
}

#page7 #content1{
    width: 30%;
    height: 100%;
    display: block;
    margin-right: 50px;
}

#page7 #content2{
    width: 35%;
    height: 100%;
    display: block;
}

.blogtext #text{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 100px;
}

#page7 #content1 #text::before{
    content: "B";
    width: 30px;
    height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    color: black;
    top: 3px;
    left: 430px;
}

#page7 #content2 #text::before{
    content: "B";
    width: 30px;
    height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 400;
    color: black;
    right: 500px;
    top: 3px;
}

.blogtext #text h2{
    font-family: 'gilroy';
    font-size: 22px;
    font-weight: 400;
}

.blogtext #image{
    width: 100%;
    height: 300px;
    display: flex;
}

.blogtext #image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page8{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    margin-bottom: 50px;
}

#page8 h1{
    font-family: monument extended;
    font-size: 45px;
    letter-spacing: -1;
    position: relative;
    width: 20%;
    padding-top: 20px;
    padding-left: 30px;
}

#page8 h1::after{
    content: '©';
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    padding-left: 3px;
}

#page8 h1::before{
    content: 'model management';
    font-family: 'gilroy';
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: 60px;
    width: 160px;
    left: 40%;
    letter-spacing: 1px;
    color: rgb(42, 41, 41);
}

#page8 h2{
    height: 100%;
    width: 22%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
}

#page8 h2:nth-last-child(1){
    width: 40%;
}

#page8 h2:nth-last-child(2){
    width: 25%;
}

#page8 #extra{
    width: 50%;
    height: 100%;
    display: block;
}

#page8 #extra #text{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding-left: 20px;
}

#page8 #extra #text h2{
    font-family: 'gilroy';
    font-size: 20px;
    font-weight: 500;
    border-right: none;
    top: 1px;
    width: 400px;
    position: absolute;
}

#page8 #extra #content{
    width: 100%;
    height: 70%;
    display: block;
    position: absolute;
}

#links{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    left: 36px;
    position: absolute;
}

#rights{
    width: 100%;
    height: 50%;
    display: flex;
    position: absolute;
}

#rights h3{
    font-family: 'gilroy';
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 80px;
    left: 36px;
}